{% extends "website/base.html" %}
{% load static %}

{% block nav-contact %}active{% endblock %}

{% block title %}
    Contact | MetaSat
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="topspacing"></div>  
    <div class="mainstuff">

        <div class="row">    

            <div class="col-sm-12 col-md-9 offset-md-3">

                <div id="content">
                    <h1>Have a question?</h1>
                    <p style="padding-top:20px; margin:10px">Please submit an issue to the <a href="https://gitlab.com/metasat/metasat-toolkit">MetaSat GitLab repository</a>.
                        <br>Note: Wolbach Library closed permanently on March 22, 2024. MetaSat is now hosted by the <a href="https://ui.adsabs.harvard.edu/">Astrophysics Data System</a>.
                    </p>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-4 offset-md-3">
                <p style="padding-top:20px; margin:10px">
                    <a href="https://library.cfa.harvard.edu">John G. Wolbach Library</a>
                    <br>Daina Bouquin
                    <br>Daniel Chivvis
                    <br>Katie Frey
                    <br>Allie Tatarian
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <p style="padding-top:20px; margin:10px">
                    <a href="https://libre.space">Libre Space Foundation</a>
                    <br>Pierros Papadeas
                    <br>Manthos Papamatthaiou
                    <br>Eleftherios Kosmas
                    <br>Vasilis Tsiligiannis
                    <br>Alfredos Damkalis
                    <br/><br/><br/>&nbsp;
                </p>
            </div>


<!--         <div class="col-xs-12 col-md-4">
            <p style="padding-top:20px; margin:10px">
                <a href="https://www.nasa.gov/smallsat-institute">NASA, Small Spacecraft Systems Virtual Institute (S3VI)</a>
                <br>Craig Burkhard
                <br>Bruce Yost
            </p>
        </div> -->

        </div>
    </div>
    <!-- end mainstuff -->
    {% include "website/footer.html" %}
</div>
{% endblock %}